<!DOCTYPE html>
<html lang="ko">
<style>
    div{
    width: 99%;
    height: 600px;
    background-color: gray;
    font-size: 2em;
    }
    h1{
    text-align: center;
    font-size: 5em;
    }
    h2{
    font-size: 3em;
    }
</style>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>Learn Korean</title>
</head>
<body>
<h1>CAMERA</h1>
<a href="/camera" target="_blank">
    <img src="images/camera.png"
         style="position:fixed; bottom: 10px; width:18%; left:0.1%;"  alt="카메라 아이콘">
</a>
<a href="/trans" target="_blank">
    <img src="images/translating.png"
         style="position:fixed; bottom: 10px; width:18%; left:21%;"  alt="번역 아이콘">
</a>
<a href="index.html" target="_blank">
    <img src="images/home.png"
         style="position:fixed; bottom: 10px; width:18%; left:41%;"  alt="홈 아이콘">
</a>
<a href="/quiz" target="_blank">
    <img src="images/quiz.png"
         style="position:fixed; bottom: 10px; width:18%; left: 62%;" alt="퀴즈 아이콘">
</a>
<a href="/dict" target="_blank">
    <img src="images/dict2.png"
         style="position:fixed; bottom: 10px; width:17%; left:82%;" alt="사전 아이콘">
</a>
</body>
</html>